.feed {
    width: 100%;
    background: linear-gradient(180deg,white, #bfb4ca);
}
.feed-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    align-items: center;
    margin: 60px auto;
    margin-bottom: 0px;
}

.post-feed {
    display: flex;
    flex-direction: column-reverse;
}

.post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
}

h1{

}