.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    background: linear-gradient(180deg,white, #bfb4ca);
    width: 100%; 
}

.titlecontainer {
    text-align: center;
    justify-content: center;
}

.home-button {
    background-color:#7d58a2;
    color:white;
    /* position: absolute;  */
    width:200px;
    border-radius: 40px;
    padding: 20px; 
    font-size: large; 
    margin-top: 30px;
    margin-bottom:30px;
    /* margin-top: 20px;
    left: 50%;
    transform: translateX(-50%); */
}

button:hover {
    background-color:#9b84b5;
    opacity: 1;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    width: 50%;
    color: #999;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}