.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: rgb(90, 90, 90);
    background-color: #bfb4ca;
    padding: 11px;
    /* padding-top: 30px; */
    line-height: 0px;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(90, 90, 90);
}