.navbar {
    text-decoration: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:15px;
    margin-left:25px;
    margin-right:25px;
}

button {
    background-color:#8466a2;
    color:white;
    border: 1px; 
    border-radius:17px; 
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 7px; 
    
}
button:hover{
    opacity: 0.5;
}